<div class="action-menu">
  <%= link_to 'Show', @volunteer_job, confirm: 'This will cancel all changes. Are you sure?', method: :get, :class => "button" %>
  <%= link_to 'Back', volunteer_jobs_path, confirm: 'This will cancel all changes. Are you sure?', method: :get , :class => "button" %>
</div>
<h1>Editing volunteer_job</h1>

<%= render 'form' %>

