<div class="action-menu">
<%= link_to 'Back', volunteer_jobs_path, confirm: 'This will cancel all changes. Are you sure?', method: :get, :class => "button"  %>
</div>
<h1>New volunteer_job</h1>

<%= render 'form' %>

