<div class="post">
  <h1 class="fancy">Dag-Inge Aas</h1>
  <h2>Introduction</h2>
  <p>
  I am a Computer Science Major at the Norwegian University of Science and Technology in Trondheim. I was born and raised in Ålesund, which is located at the west coast of Norway. In my spare time I enjoy socializing and engaging in volunteer work. I also build and maintain web applications, some of which you can check out under 'resources' below. If you have any questions, don't hesitate to contact me.
  </p>
  <h2>About me</h2>
  <table class="about">
    <tbody>
      <tr>
        <th>Field of Study</th>
        <td><a href="http://www.ntnu.edu/studies/mtdt">Master in Computer Science</a></td>
      </tr>
      <tr>
        <th>Work</th>
        <td>
          <div class="hoverable">
            <h6>Iterate <a href="http://www.iterate.no"><img src="images/icons/house_link.png" alt="link"></a></h6>
            <p>June 2011 - Now<br>Summer intern</p>
            <p class="hideable hide"><b>Description</b><br>Developed a new customer-driven project in Java on Amazon Web Services. Learned about synchronization, REST and large-scale distributed systems and their issues. Personal coaching on SCRUM and Kanban by Iterate and Kent Beck. Arranged and held our own meetings. Norwegian attestation available on request.</p>
          </div>
          <div class="hoverable">
            <h6>Gurutjenesten <a href="http://guru.idi.ntnu.no"><img src="images/icons/house_link.png" alt="link"></a></h6>
            <p>August 2010 - Now<br>Guru</p>
            <p class="hideable hide"><b>Description</b><br>Help other students at the Institute of Computer Science and Informatics with IT related problems. These include wireless connectivity issues, compilator issues and any other issues an IT-student might have.</p>
          </div>
          <div class="hoverable">
            <h6>Teaching assistant for beginners programming class <a href="http://itgk.idi.ntnu.no"><img src="images/icons/house_link.png" alt="link"></a></h6>
            <p>August 2011 - December 2011<br></p>
            <p class="hideable hide"><b>Description</b><br>Help students fresh to programming understand the concepts of programming and the exercises given to them. Programming is mainly focused on Python and Matlab.</p>
          </div>
          <div class="hoverable">
            <h6>Expert <a href="http://www.expert.no"><img src="images/icons/house_link.png" alt="link"></a></h6>
            <p>September 2006 - August 2010<br>Electronics salesman</p>
            <p class="hideable hide"><b>Description</b><br>Salesman and first-line support for electronics of all kinds. Mostly Televisions, computers, mobile cellphones and cameras. Helped customers make the right purchase for their needs.</p>
          </div>
        </td>
      </tr>
      <tr>
        <th>Education</th>
        <td>
          <div class="hoverable">
            <h6>Norwegian University of Science and Technology <a href="http://www.ntnu.no"><img src="images/icons/house_link.png" alt="link"></a></h6>
            <p>2008 - Now<br>4th grade Computer Science</p>
            <p class="hideable hide">Masters degree with focus on programming and information systems. Currently in 4th year with main focus on web applications, security, server administration and information systems development.</p>
          </div>
        </td>
      </tr>
      <tr>
        <th>Volunteer work</th>
        <td>
          <div class="hoverable">
            <h6>ISFiT 2011 <a href="http://www.isfit.org"><img src="images/icons/house_link.png" alt="link"></a></h6>
            <p>2010 - 2011<br>Head of IT development</p>
            <p class="hideable hide">Project manager for the biggest new IT project of ISFiT 2011. Held meetings, workshops and demonstrations, gathered requirement specification from the different affected parties and maintaned the project after launch. Led a group of 3 other developers from start to finish to maintenance. Programming was mainly focused on Ruby on Rails and scripting using Ruby. Some of our core technologies include LDAP, MySQL, UNIX, Apache, Passenger, capistrano and more.</p>
          </div>
          <div class="hoverable">
            <h6>XCom'11 <a href="http://www.xcom11.no"><img src="images/icons/house_link.png" alt="link"></a></h6>
            <p>2010 - 2012<br>Tour responsible for trip to Japan</p>
            <p class="hideable hide">Responsible for the contact with the travel agency. Also did crisis management when the trip got cancelled due to an earthquake in Japan followed by a nuclear crisis.</p>
          </div>
        </td>
      </tr>
      <tr>
        <th>Skills</th>
        <td>
          <ul>
            <li>Java - 3 years</li>
            <li>Ruby on Rails - 2 years</li>
            <li>Ruby - 2 years</li>
            <li>Unix - 2 years</li>
            <li>HTML(5) and CSS(3)</li>
            <li>Git and Subversion - 2 years</li>
            <li>Android -  &lt;1 year</li>
          </ul>
        </td>
      </tr>
      <tr>
        <th>Resources</th>
        <td>
          <h6><a href="http://github.com/dagingaa">GitHub</a></h6>
          <p>Personal GitHub account containing some of my most recent projects</p>
          <h6><a href="https://github.com/isfit/isfit-participant">isfit-participant @ GitHub</a></h6>
          <p>ISFiT participant-web. Project manager and maintainer</p>
        </td>
      </tr>

    </tbody>
  </table>
</div>
<% content_for :sidebar do %>
  <!--
  <div class="widget">
    <div class="center">
      <img src="http://daginge.com/images/gurutjenesten.jpg" alt="Dag-Inge Aas" class="fancy">
    </div>
  </div>
  -->
  <div class="widget">
    <h1>Contact</h1>
    <p>You can contact me by checking out my <a href="http://www.facebook.com/dagingeaas">Facebook</a>, <a href="http://www.twitter.com/daginge">Twitter</a> or <a href="http://www.linkedin.com/pub/dag-inge-aas/19/76b/294">LinkedIn</a> profile or by sending me an email to daginge [at] gmail.com.</p>
    <p>You can also reach me at my university address: dagingaa [at] stud.ntnu.no</p>
    <a href="http://twitter.com/daginge" class="twitter-follow-button" data-button="grey" data-text-color="#FFFFFF" data-link-color="#00AEFF" data-show-count="false">Follow @daginge</a>
    <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
  </div>
  <div class="widget">
    <h1>Under development</h1>
    <p>daginge.com is still being developed. For now it only contains a digital resumé, but check back later for interesting posts, past and current projects, contact information and more!</p>
  </div>
<% end %>
