<div class="action-menu">
<%= link_to 'Back', educations_path, confirm: 'This will cancel all changes. Are you sure?', method: :get, :class => "button"  %>
</div>
<h1>New education</h1>

<%= render 'form' %>

